<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.agendapp.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.MainPage" />
        <activity android:name=".pages.LoginPage" />
        <activity
            android:name=".pages.UserPage"
            android:label="@string/title_user">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.MainPage" />
        </activity>
        <activity
            android:name=".pages.NewPage"
            android:label="@string/title_newpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.MainPage" />
        </activity>
        <activity
            android:name=".pages.CommentPage"
            android:label="@string/title_commentpage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.MainPage" />
        </activity>
        <activity android:name=".pages.SelectFilterPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.MainPage" />
        </activity>
    </application>

</manifest>